@model IEnumerable<AcroGARC.Models.Courses>
    @{
        ViewBag.Title = "Index";
    }
        
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Courses</li>
    </ol>
    
    @Html.ActionLink("Create Course", "Create", "Course", null, new { @class = "btn btn-link" })
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@course.Name, "GetCourseClasses", "Course",
                       new { courseId = course.Id }, new { @class = "btn btn-link" })
                    </td>
                    <td>@course.Duration Years</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Course",
                        new { courseId = course.Id }, new { @class="btn btn-link"})
                    </td>
                </tr>
            }
        </tbody>

</table>